# CLEANING DATA

### Importing libraries

In [17]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

### Load the dataset

In [4]:
data = pd.read_csv('Cleaning data.csv')

In [5]:
data

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

### 1. **Data Integrity**: Ensuring the accuracy, consistency, and reliability of data

In [6]:
print("Dataset Overview:\n")
print("Initial Data Shape:", data.shape)
print("Column Data Types:\n", data.dtypes)
print("Summary Statistics:\n", data.describe(include='all'))

Dataset Overview:

Initial Data Shape: (48895, 16)
Column Data Types:
 id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object
Summary Statistics:
                   id            name       host_id host_name  \
count   4.889500e+04           48879  4.889500e+04     48874
unique           NaN           47905           NaN     11452
top              NaN  Hillside Hotel           NaN   Michael
freq             NaN              18           NaN       417
mean    1.901714e+07             NaN  6.762001e+07       NaN
std     1.098311e+07             NaN  7.861097e+07       NaN
min     2.539000e+03             NaN  2.438000e+03       NaN
25%     9.471945e+06             NaN  7.822033e+06       NaN
50%     1.967728e+07             NaN  3.079382e+07       NaN
75%     2.915218e+07             NaN  1.074344e+08       NaN
max     3.648724e+07             NaN  2.743213e+08       NaN

       neighbourhood_group neighbourhood      latitude     longitude  \
count                48895         48895  48895.000000  48895.000000
unique                   5           221           NaN           NaN
top              Manhattan  Williamsburg           NaN           NaN
freq                 21661          3920           NaN           NaN
mean                   NaN           NaN     40.728949    -73.952170
std                    NaN           NaN      0.054530      0.046157
min                    NaN           NaN     40.499790    -74.244420
25%                    NaN           NaN     40.690100    -73.983070
50%                    NaN           NaN     40.723070    -73.955680
75%                    NaN           NaN     40.763115    -73.936275
max                    NaN           NaN     40.913060    -73.712990

              room_type         price  minimum_nights  number_of_reviews  \
count             48895  48895.000000    48895.000000       48895.000000
unique                3           NaN             NaN                NaN
top     Entire home/apt           NaN             NaN                NaN
freq              25409           NaN             NaN                NaN
mean                NaN    152.720687        7.029962          23.274466
std                 NaN    240.154170       20.510550          44.550582
min                 NaN      0.000000        1.000000           0.000000
25%                 NaN     69.000000        1.000000           1.000000
50%                 NaN    106.000000        3.000000           5.000000
75%                 NaN    175.000000        5.000000          24.000000
max                 NaN  10000.000000     1250.000000         629.000000

       last_review  reviews_per_month  calculated_host_listings_count  \
count        38843       38843.000000                    48895.000000
unique        1764                NaN                             NaN
top     2019-06-23                NaN                             NaN
freq          1413                NaN                             NaN
mean           NaN           1.373221                        7.143982
std            NaN           1.680442                       32.952519
min            NaN           0.010000                        1.000000
25%            NaN           0.190000                        1.000000
50%            NaN           0.720000                        1.000000
75%            NaN           2.020000                        2.000000
max            NaN          58.500000                      327.000000

        availability_365
count       48895.000000
unique               NaN
top                  NaN
freq                 NaN
mean          112.781327
std           131.622289
min             0.000000
25%             0.000000
50%            45.000000
75%           227.000000
max           365.000000

### 2. **Missing Data Handling**

In [7]:
print("\nMissing Values Before Handling:")
print(data.isnull().sum())

Missing Values Before Handling:
id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [9]:
# Handling missing values:
# Numerical columns: Fill with mean
data.fillna(data.mean(numeric_only=True), inplace=True)

# Categorical columns: Fill with mode
categorical_columns = data.select_dtypes(include=['object']).columns
for col in categorical_columns:
    data[col].fillna(data[col].mode()[0], inplace=True)

In [10]:
print("\nMissing Values After Handling:")
print(data.isnull().sum())

Missing Values After Handling:
id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

### 3. **Duplicate Removal**

In [11]:
print("\nDuplicate Rows Before Removal:", data.duplicated().sum())
data.drop_duplicates(inplace=True)
print("Duplicate Rows After Removal:", data.duplicated().sum())

Duplicate Rows Before Removal: 0
Duplicate Rows After Removal: 0

### 4. **Standardization**: Consistent formatting and units

In [12]:
# Standardize column names: lowercase, strip spaces, and replace spaces with underscores
data.columns = data.columns.str.strip().str.lower().str.replace(' ', '_')
print("\nStandardized Column Names:")
print(data.columns)

Standardized Column Names:
Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

### 5. **Outlier Detection**

In [13]:
# Detecting outliers using the IQR method
def detect_outliers(df, col):
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return df[(df[col] < lower_bound) | (df[col] > upper_bound)]

# Identify outliers for all numerical columns
numerical_cols = data.select_dtypes(include=[np.number]).columns
for col in numerical_cols:
    outliers = detect_outliers(data, col)
    print(f"\nOutliers in '{col}': {len(outliers)} records detected")

Outliers in 'id': 0 records detected

Outliers in 'host_id': 1526 records detected

Outliers in 'latitude': 425 records detected

Outliers in 'longitude': 2833 records detected

Outliers in 'price': 2972 records detected

Outliers in 'minimum_nights': 6607 records detected

Outliers in 'number_of_reviews': 6021 records detected

Outliers in 'reviews_per_month': 4103 records detected

Outliers in 'calculated_host_listings_count': 7081 records detected

Outliers in 'availability_365': 0 records detected

In [19]:
#remove outliers
for col in numerical_cols:
    Q1 = data[col].quantile(0.25)
    Q3 = data[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    data = data[(data[col] >= lower_bound) & (data[col] <= upper_bound)]

### Final Dataset Overview

In [16]:
print("\nCleaned Data Shape:", data.shape)
print("Cleaned Data Preview:\n", data.head())

Cleaned Data Shape: (23268, 16)
Cleaned Data Preview:
        id                                               name  host_id  \
10   5295                   Beautiful 1br on Upper West Side     7702
20   7801                   Sweet and Spacious Brooklyn Loft    21207
25   8505                 Sunny Bedroom Across Prospect Park    25326
26   8700  Magnifique Suite au N de Manhattan - vue Cloitres    26394
48  13050                          bright and stylish duplex    50846

          host_name neighbourhood_group       neighbourhood  latitude  \
10             Lena           Manhattan     Upper West Side  40.80316
20            Chaya            Brooklyn        Williamsburg  40.71842
25          Gregory            Brooklyn     Windsor Terrace  40.65599
26  Claude & Sophie           Manhattan              Inwood  40.86754
48         Jennifer            Brooklyn  Bedford-Stuyvesant  40.68554

    longitude        room_type  price  minimum_nights  number_of_reviews  \
10  -73.96545  Entire home/apt    135               5                 53
20  -73.95718  Entire home/apt    299               3                  9
25  -73.97519     Private room     60               1                 19
26  -73.92639     Private room     80               4                  0
48  -73.94090  Entire home/apt    115               3                 11

   last_review  reviews_per_month  calculated_host_listings_count  \
10  2019-06-22           0.430000                               1
20  2011-12-28           0.070000                               1
25  2019-06-23           1.370000                               2
26  2019-06-23           1.373221                               1
48  2017-01-01           0.100000                               1

    availability_365
10                 6
20                 0
25                85
26                 0
48                 0